@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
    font-size: var(--font-m);

    color: var(--color-primary);
    background: var(--color-bg);

    min-height: 100vh;
}