.app.dark {
  --color-bg: #0e0e65;
  --color-bg-inverted: #e8e8ea;

  --color-primary: #049604;
  --color-primary-inverted: #02332c2;

  --color-secondary: #04ff04;
  --color-secondary-inverted: #0449e0;
}